:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 9%);

  --background-transparent: hsl(0, 0%, 100%, 0.5);
  --foreground-transparent: hsl(0, 0%, 9%, 0.5);

  --border-radius-small: 8px;
  --border-radius-medium: 16px;
  --border-radius-large: 24px;

  --font-size-h1: clamp()
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* color: var(--foreground); */
}

a {
  color: inherit;
  text-decoration: none;
}



