.wrapper {
    /* border: 1px solid red; */
    padding: 1rem;
    border-radius: calc(var(--border-radius-large) - 0.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid red; */
    align-self: start;

}

.fieldset {
    /* border: 1px solid red; */
    padding: 1rem;
    width: 100%;


}


.buttonWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 1rem; */
    margin-top: 1rem;
}
.sendButton {
    padding: 1rem;
    width: 100% !important;
    border-radius: calc(var(--border-radius-large) - 1rem);
}