.wrapper {
    /* border: 1px solid red; */
    padding: 1rem;
    border-radius: calc(var(--border-radius-large) - 1rem);
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%; 
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

}

.fieldset {
    border: 1px solid red;
    /* margin: 1rem 0; */
    padding: 1rem;
    width: 100%;

}